
<footer class="footer fixed-bottom greyfooter">
      <div class="container">
        <p>Comet Technologies All Rights Reserved 2018</p>
      </div>
      <button type="button" class="footer-button" >HELP</button>
</footer>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
