<% include partials/header %>
<!--      <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0">    -->
    <nav class="navbar navbar-light fixed-top flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="assets/logos/comet_logo.png" height="30px"></a>
      <!--      class="form-control form-control-dark w-100"    -->
      <i class="fas fa-search"></i><input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="logout" href="#">LOG OUT</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link" href="/orders-admin">Orders</a></li>
                      <li class="nav-item"><a class="nav-link active" href="/inventory-admin">Inventory</a></li>
                      <li class="nav-item"><a class="nav-link" href="/receipts">Receipts</a></li>
                      <li class="nav-item"><a class="nav-link" href="/registery">Registery</a></li>
                      <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                </ul>
              </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Inventory</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary"><i class="fas fa-sync"></i>Sync</button>
                    <button class="btn btn-sm btn-outline-secondary"><i class="fas fa-download"></i>Export</button>
                  </div>

                </div>
              </div>
<br>
            <table class="table_inventory">
                <tr>
                    <td class="product_image_table "></td>
                    <td class="product_sku_table">SKU #</td>
                    <td class="product_name_table">Name</td>
                    <td class="product_stock_table">Stock</td>
                    <td class="product_price_table">Price</td>
                </tr>

                <% products.forEach(function(p){ %>
                    <tr>
                        <td class="product_image_table "><img src="<%= p.image.src %>" width="100%"></td>
                        <td class="product_sku_table"> <%= p.id %> </td>
                        <td class="product_name_table"> <%= p.title %> </td>
                        <td class="product_stock_table"> 1 </td>
                        <td class="product_price_table"> <%= p.variants[0].price %> </td>

                    </tr>
                <% }); %>

            </table>

            </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



<% include partials/footer_grey %>
