<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Alyom Partner</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="css/app.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="js/printelement.js"></script>
    </head>

    <body>
<br>
        <span class="navbar-brand-mobile"><img src="assets/logos/comet_logo.png" height="100vh"></span>
        <br>
         <div class="login-title">delivery</div>
<div class="mobile-login-form">
    <form action="/login" method="POST">
         <input class="login-input-mobile" type="text" name="username" placeholder="username">
         <input type="password" class="login-input-mobile" name="password" placeholder="password"><br>
         <!-- <button type="button"  name="login-button"class="login-button-mobile">login</button> -->
        <button class="login-button-mobile">login</button>
    </form>
</div>





</body>
</html>
