<% include partials/header %>
<!--      <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0">    -->
    <nav class="navbar navbar-light fixed-top flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="assets/logos/comet_logo.png" height="30px"></a>
      <!--      class="form-control form-control-dark w-100"    -->
      <i class="fas fa-search"></i><input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="logout" href="#">LOG OUT</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link " href="/orders-admin">Orders</a></li>
                      <li class="nav-item"><a class="nav-link" href="/inventory-admin">Inventory</a></li>
                      <li class="nav-item"><a class="nav-link" href="/receipts">Receipts</a></li>
                      <li class="nav-item"><a class="nav-link active" href="/registery">Registery</a></li>
                      <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                </ul>
              </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 "><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Registery</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    This week
                  </button>
                </div>
              </div>

<div class="sign-up-form">
        <h4>Sign Up Form</h4>

        <form action="/registery" method="POST">
            <input class="register-input" type="text" name="username" placeholder="username"><br>
            <input class="register-input" type="password" name="password" placeholder="password"><br>
            <button class="register-button">Submit</button>
        </form>
</div>

<div class="courier_list">
<h4>Courier List</h4>
<table>
    <% courier.forEach(function(c){ %>
        <tr>
            <td ><%= c.username%> </td>
            <td ><%= c.password%> </td>
        </tr>
    <% }); %>
</table>
  </div>

            </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



<% include partials/footer_grey %>
